### Feature Engineering

In [8]:
import pandas as pd
import sys
sys.path.insert(0, '/10 A KAI 2/Week6/Credit_Scoring/')

In [9]:
from Script.Feature_engi import Feature_Engineering

In [10]:
df = pd.read_csv('../Data/data.csv')

In [11]:
fut_eng = Feature_Engineering(df)

### Remove unneccery columns and only one values likr CountryCode

In [12]:
attrib=['BatchId',  'SubscriptionId', 'CurrencyCode', 'CountryCode', 'ProductId']
fut_eng.remove_some_cols(attrib)

,TransactionId,AccountId,CustomerId,ProviderId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult
0,TransactionId_76871,AccountId_3957,CustomerId_4406,ProviderId_6,airtime,ChannelId_3,1000.0,1000,2018-11-15T02:18:49Z,2,0
1,TransactionId_73770,AccountId_4841,CustomerId_4406,ProviderId_4,financial_services,ChannelId_2,-20.0,20,2018-11-15T02:19:08Z,2,0
2,TransactionId_26203,AccountId_4229,CustomerId_4683,ProviderId_6,airtime,ChannelId_3,500.0,500,2018-11-15T02:44:21Z,2,0
3,TransactionId_380,AccountId_648,CustomerId_988,ProviderId_1,utility_bill,ChannelId_3,20000.0,21800,2018-11-15T03:32:55Z,2,0
4,TransactionId_28195,AccountId_4841,CustomerId_988,ProviderId_4,financial_services,ChannelId_2,-644.0,644,2018-11-15T03:34:21Z,2,0
...,...,...,...,...,...,...,...,...,...,...,...
95657,TransactionId_89881,AccountId_4841,CustomerId_3078,ProviderId_4,financial_services,ChannelId_2,-1000.0,1000,2019-02-13T09:54:09Z,2,0
95658,TransactionId_91597,AccountId_3439,CustomerId_3874,ProviderId_6,airtime,ChannelId_3,1000.0,1000,2019-02-13T09:54:25Z,2,0
95659,TransactionId_82501,AccountId_4841,CustomerId_3874,ProviderId_4,financial_services,ChannelId_2,-20.0,20,2019-02-13T09:54:35Z,2,0
95660,TransactionId_136354,AccountId_1346,CustomerId_1709,ProviderId_6,tv,ChannelId_3,3000.0,3000,2019-02-13T10:01:10Z,2,0
95661,TransactionId_35670,AccountId_4841,CustomerId_1709,ProviderId_4,financial_services,ChannelId_2,-60.0,60,2019-02-13T10:01:28Z,2,0

#### Aggregate Credit and Debit transaction amount in the customer label 
1. **Total Credit Amount**: Summed the values in the Credit column to determine the total credit transactions for each customer.
2. **Total Debit Amount**: Summed the values in the Debit column to determine the total debit transactions for each customer.
3. **Average Transaction Amount**: Calculated the mean of the Value column, which represents the average transaction value for each customer.
4.  **Transaction Count**: Counted the number of transactions per CustomerId using the TransactionId column.
5.  **Total Unique Account Count**: Counted the unique accounts associated with each customer using the AccountId column.
6.  **Standard Deviation of Transaction Amount**: Computed the standard deviation of the Amount column to assess the variability of transaction amounts. The ddof=0 parameter ensures a population standard deviation is calculated, and if there are fewer than two entries, NaN is replaced with zero.

In [13]:
df2 = fut_eng.feature_engineering_transaction()

In [14]:
df2.columns

Index(['CustomerId', 'Total_Credit_Amount', 'Total_Debit_Amount',
       'Average_Transaction_Amount', 'Transaction_Count',
       'Total_Unique_Account_Count', 'distinct_product_categories',
       'Standard_Deviation_Transaction_Amount'],
      dtype='object')

##### The above result shows the aggrigation by customer. totally we have 3742 customer.

In [7]:
df

,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult
0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15T02:18:49Z,2,0
1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2018-11-15T02:19:08Z,2,0
2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15T02:44:21Z,2,0
3,TransactionId_380,BatchId_102363,AccountId_648,SubscriptionId_2185,CustomerId_988,UGX,256,ProviderId_1,ProductId_21,utility_bill,ChannelId_3,20000.0,21800,2018-11-15T03:32:55Z,2,0
4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,2018-11-15T03:34:21Z,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95657,TransactionId_89881,BatchId_96668,AccountId_4841,SubscriptionId_3829,CustomerId_3078,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-1000.0,1000,2019-02-13T09:54:09Z,2,0
95658,TransactionId_91597,BatchId_3503,AccountId_3439,SubscriptionId_2643,CustomerId_3874,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2019-02-13T09:54:25Z,2,0
95659,TransactionId_82501,BatchId_118602,AccountId_4841,SubscriptionId_3829,CustomerId_3874,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2019-02-13T09:54:35Z,2,0
95660,TransactionId_136354,BatchId_70924,AccountId_1346,SubscriptionId_652,CustomerId_1709,UGX,256,ProviderId_6,ProductId_19,tv,ChannelId_3,3000.0,3000,2019-02-13T10:01:10Z,2,0
95661,TransactionId_35670,BatchId_29317,AccountId_4841,SubscriptionId_3829,CustomerId_1709,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-60.0,60,2019-02-13T10:01:28Z,2,0

#### Extract Transaction day, year,  month and Hour fron trsnsaction date

In [14]:
fut_eng.extract_transaction_features()

,TransactionId,AccountId,CustomerId,ProviderId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult,Transaction_Hour,Transaction_Day,Transaction_Month,Transaction_Year
0,TransactionId_76871,AccountId_3957,CustomerId_4406,ProviderId_6,airtime,ChannelId_3,1000.0,1000,2018-11-15 02:18:49+00:00,2,0,2,15,11,2018
1,TransactionId_73770,AccountId_4841,CustomerId_4406,ProviderId_4,financial_services,ChannelId_2,-20.0,20,2018-11-15 02:19:08+00:00,2,0,2,15,11,2018
2,TransactionId_26203,AccountId_4229,CustomerId_4683,ProviderId_6,airtime,ChannelId_3,500.0,500,2018-11-15 02:44:21+00:00,2,0,2,15,11,2018
3,TransactionId_380,AccountId_648,CustomerId_988,ProviderId_1,utility_bill,ChannelId_3,20000.0,21800,2018-11-15 03:32:55+00:00,2,0,3,15,11,2018
4,TransactionId_28195,AccountId_4841,CustomerId_988,ProviderId_4,financial_services,ChannelId_2,-644.0,644,2018-11-15 03:34:21+00:00,2,0,3,15,11,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95657,TransactionId_89881,AccountId_4841,CustomerId_3078,ProviderId_4,financial_services,ChannelId_2,-1000.0,1000,2019-02-13 09:54:09+00:00,2,0,9,13,2,2019
95658,TransactionId_91597,AccountId_3439,CustomerId_3874,ProviderId_6,airtime,ChannelId_3,1000.0,1000,2019-02-13 09:54:25+00:00,2,0,9,13,2,2019
95659,TransactionId_82501,AccountId_4841,CustomerId_3874,ProviderId_4,financial_services,ChannelId_2,-20.0,20,2019-02-13 09:54:35+00:00,2,0,9,13,2,2019
95660,TransactionId_136354,AccountId_1346,CustomerId_1709,ProviderId_6,tv,ChannelId_3,3000.0,3000,2019-02-13 10:01:10+00:00,2,0,10,13,2,2019
95661,TransactionId_35670,AccountId_4841,CustomerId_1709,ProviderId_4,financial_services,ChannelId_2,-60.0,60,2019-02-13 10:01:28+00:00,2,0,10,13,2,2019

#### Label encoding for column ProductCategory, ProviderId and ChannelId

In [15]:
column = ['ProductCategory',  'ChannelId', 'ProviderId']
fut_eng.label_encoding_selected_attribute(column)

,TransactionId,AccountId,CustomerId,ProviderId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult,Transaction_Hour,Transaction_Day,Transaction_Month,Transaction_Year
0,TransactionId_76871,AccountId_3957,CustomerId_4406,5,0,2,1000.0,1000,2018-11-15 02:18:49+00:00,2,0,2,15,11,2018
1,TransactionId_73770,AccountId_4841,CustomerId_4406,3,2,1,-20.0,20,2018-11-15 02:19:08+00:00,2,0,2,15,11,2018
2,TransactionId_26203,AccountId_4229,CustomerId_4683,5,0,2,500.0,500,2018-11-15 02:44:21+00:00,2,0,2,15,11,2018
3,TransactionId_380,AccountId_648,CustomerId_988,0,8,2,20000.0,21800,2018-11-15 03:32:55+00:00,2,0,3,15,11,2018
4,TransactionId_28195,AccountId_4841,CustomerId_988,3,2,1,-644.0,644,2018-11-15 03:34:21+00:00,2,0,3,15,11,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95657,TransactionId_89881,AccountId_4841,CustomerId_3078,3,2,1,-1000.0,1000,2019-02-13 09:54:09+00:00,2,0,9,13,2,2019
95658,TransactionId_91597,AccountId_3439,CustomerId_3874,5,0,2,1000.0,1000,2019-02-13 09:54:25+00:00,2,0,9,13,2,2019
95659,TransactionId_82501,AccountId_4841,CustomerId_3874,3,2,1,-20.0,20,2019-02-13 09:54:35+00:00,2,0,9,13,2,2019
95660,TransactionId_136354,AccountId_1346,CustomerId_1709,5,7,2,3000.0,3000,2019-02-13 10:01:10+00:00,2,0,10,13,2,2019
95661,TransactionId_35670,AccountId_4841,CustomerId_1709,3,2,1,-60.0,60,2019-02-13 10:01:28+00:00,2,0,10,13,2,2019

#### Scale continues cilumns

In [16]:
attrinutes = ['Total_Credit_Amount', 'Total_Debit_Amount','Average_Transaction_Amount', 'Transaction_Count','Total_Unique_Account_Count']
fut_eng.numeric_feature_scaling(attrinutes)

      Total_Credit_Amount  Total_Debit_Amount  Average_Transaction_Amount  \
0               -0.100614           -0.017562                   -0.052297
1               -0.100614           -0.017562                   -0.052297
2               -0.088647           -0.020360                   -0.075710
3               -0.098477           -0.023230                   -0.109431
4               -0.088267           -0.019893                   -0.080169
...                   ...                 ...                         ...
3737            -0.088267           -0.019893                   -0.080169
3738            -0.088267           -0.019893                   -0.073798
3739             0.173877           -0.003497                   -0.075710
3740            -0.031754           -0.019893                   -0.058972
3741            -0.038165           -0.005029                   -0.067772

      Transaction_Count  Total_Unique_Account_Count
0             -0.253459                   -1.356587
1             -0.253459                   -1.356587
2             -0.212186                   -0.223474
3             -0.150278                   -0.223474
4             -0.201868                    0.909640
...                 ...                         ...
3737          -0.201868                    0.909640
3738          -0.212186                    0.909640
3739           0.778355                   -0.223474
3740          -0.088369                    0.909640
3741          -0.036778                    0.909640

[3742 rows x 5 columns]